mat-expansion-panel{
    margin-bottom: 1rem;

  }
  .mat-accordion .mat-expansion-panel{
    border-radius:1.75rem;
    
  }
  .main { 
    display: flex; 
    justify-content: space-between;
  }

.padding-right-div{
  margin-right:3rem;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}