mat-expansion-panel{
    margin-bottom: 1rem;

  }
  .mat-accordion .mat-expansion-panel{
    border-radius:1.75rem;
    
  }
  .main { 
    display: flex; 
    justify-content: space-between;
  }

.padding-right-div{
  margin-right:3rem;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

mat-expansion-panel-content:not(.mat-expanded) {
  height: 0px !important;
  visibility: hidden !important;
}

.mat-expansion-panel-header  {
  display:flex;
  align-items:normal;
}
