@import "../../../../../../variables";

.date {
    &:hover:not(.disabled) {
        background-color: $accent-color !important;
        cursor: pointer;
    }

    &:active:not(.disabled) {
        background-color: mat-color($accent-palette, 500) !important;
        cursor: pointer;
    }

    &.disabled {
        color: lightgrey;
    }

}
