@import "../../../../../../variables";

.date {
    &:hover:not(.disabled) {
        background-color: $accent-color;
        cursor: pointer;
    }
    
    &:active:not(.disabled) {
        background-color: mat-color($accent-palette, 500);
        cursor: pointer;
    }

    &.disabled {
        color: lightgrey;
    }

}

.chosen-date {
    background-color: #ccc;
}
