<!--<mat-progress-bar mode="determinate" [value]="selectedIndex * (100 / (_steps.length - 1))" style="height: 8px"></mat-progress-bar>-->
<div fxLayout="column">
    <div fxLayout="row">
        <ng-container *ngFor="let step of _steps; let i = index; let last = last">
            <mat-progress-bar mode="determinate" [value]="selectedIndex >= i ? 100 : 0" style="height: 8px" color="accent"></mat-progress-bar>
            <mat-divider *ngIf="!last" [vertical]="true" style="background-color: black;"></mat-divider>
        </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50" fxFlex.lt-sm="80" fxLayoutAlign="space-between center">
            <button mat-icon-button (click)="previousStep()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>

            <div fxLayoutAlign="center center">
                <h6>{{ titles[index] }}</h6>
            </div>

            <button mat-icon-button (click)="nextStep()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="mat-horizontal-content-container">
  <div *ngFor="let step of _steps; let i = index"
       class="mat-horizontal-stepper-content" role="tabpanel"
       [@stepTransition]="_getAnimationDirection(i)"
       [id]="_getStepContentId(i)"
       [attr.aria-labelledby]="_getStepLabelId(i)"
       [attr.aria-expanded]="selectedIndex === i">
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
  </div>
</div>
