<app-custom-stepper>
  <cdk-step>
    <div>Stuff you know what that means? it means that there are things here and i want to see if this looks nice...</div>
    <button cdkStepperPrevious mat-button>Prev</button>
    <button cdkStepperNext mat-button>Next</button>
  </cdk-step>
  <cdk-step>
    <div>ing something</div>
    <button cdkStepperPrevious mat-button>Prev</button>
    <button cdkStepperNext mat-button>Next</button>
  </cdk-step>
  <cdk-step>
    <div>step 4</div>
    <button cdkStepperPrevious mat-button>Prev</button>
    <button cdkStepperNext mat-button>Next</button>
  </cdk-step>
  <cdk-step>
    <div>and number 5</div>
    <button cdkStepperPrevious mat-button>Prev</button>
    <button cdkStepperNext mat-button>Next</button>
  </cdk-step>
</app-custom-stepper>

<app-slide-panel #slider [activePane]="slider.activePane">
  <div leftPane>
    <app-month-picker #monthPicker [calendar]="calendar"></app-month-picker>
    <app-calendar #calendar [year]="monthPicker.year" [month]="monthPicker.month" [slider]="slider"></app-calendar>
  </div>
  <div rightPane (click)="slider.goLeft()">Hello</div>
</app-slide-panel>
