<p>
    <mat-form-field>
        <input matInput [matDatepicker]="dp3" placeholder="Pick a date" [matDatepickerFilter]="dateFilter"
        (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false" (monthSelected)="getSelectedMonth($event)"></mat-datepicker>
    </mat-form-field>
</p>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let startTime of startTimes">
        <mat-card class="service-card">
            <mat-card-header>
                <mat-card-title>{{startTime}}</mat-card-title>
            </mat-card-header>
            <!--<img mat-card-image src="../assets/images/alex-bertha-215867-unsplash.jpg">-->
            <mat-card-actions>
                <button mat-button (click)="selectStartTime(startTime)">SELECT</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]=componentState.totalItems
               [pageSize]=componentState.currentPageSize
               [pageSizeOptions]=itemsPerPageOptions
               (page)="printPageEvent($event)">
</mat-paginator>

