/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

@import "angular-theme";
@import "variables.scss";
@import "primary-theme.scss";
@import "dark-theme.scss";


html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 96px;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: 300;
    font-size: 60px;
    letter-spacing: -0.5px;
}

// h3 {
//     font-weight: 400;
//     font-size: 48px;
//     letter-spacing: 0;
// }

h4 {
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.25px;
}

h5 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
}

h6 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
}

table {
    width: 90vw;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }



/* Success/error classes for snackbar messages. They have to be declared in styles.scss */
.success-message {
    color: $success-color;
}

.error-message {
    color: $warn-color;
}

.chosen {
    background-color: #ddd !important;
}

.primary-theme {
    @include angular-material-theme($primary-theme);
}

.dark-theme {
    @include angular-material-theme($dark-theme);
}
