<form *ngIf="" [formGroup]="passwordRestForm">
    <ng-template matStepLabel>Please enter your new password</ng-template>
    <div fxLayout="column" class="passwords-container">
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-form-field appearance="outline" class="no-mat-padding" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password"
                   [type]="isPasswordVisible ? 'text' : 'password'" name="password">
            <mat-hint>
                Between 6-30 characters, at least 1 number and  1 digit
            </mat-hint>
            <mat-error *ngIf="passwordRestForm.get('password').touched &&
                                    passwordRestForm.get('password').errors
                                    && passwordRestForm.get('password').errors.required">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordRestForm.get('password').touched &&
                                    passwordRestForm.get('password').errors
                                    && passwordRestForm.get('password').errors.pattern">
                Password is <strong>not</strong> in correct format
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="no-mat-padding" fxFlex>
            <mat-label>Confirm</mat-label>
            <input matInput formControlName="confirmPassword"
                   [type]="isPasswordVisible ? 'text' : 'password'" name="confirmPassword"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="passwordRestForm.get('confirmPassword').touched &&
                                    passwordRestForm.get('confirmPassword').errors
                                    && passwordRestForm.get('confirmPassword').errors.required">
                Password confirmation is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordRestForm.get('confirmPassword').touched &&
                                    passwordRestForm.get('password').touched && passwordRestForm.errors?.mismatched">
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <button mat-icon-button type="button" ngClass.gt-sm="visibility-icon"
                (click)="togglePasswordVisibility()">
            <mat-icon>{{ isPasswordVisible ? 'visibility_on' : 'visibility_off'}}</mat-icon>
        </button>
    </div>
</div>
</form>
<div *ngIf="">Your password has been successfully reset</div>
<div *ngIf="">Your password reset token has expired</div>
