.container {
    padding: 50px;

    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .buttons {
        button {
            font-weight: bold;
        }
    }
    .padded-field {
        margin-bottom: 15px;
    }
}
