.time-picker-container {

    .daytime-container {
        line-height: 3rem;
        padding-top: 1rem;
    }

    .time-container {
        padding-top: 2rem;
    }

    .set-width {
        width: 6rem;
    }

}
