@import "../../../../../variables";

.time-picker-container {
    padding-top: 1rem;

    .daytime-container {
        line-height: 3rem;
    }

    .time-container {
        .times {
            .time {

                width: 100%;
                padding: 1rem 0;

                &:hover:not(.disabled) {
                    background-color: $accent-color !important;
                    cursor: pointer;
                }

                &:active:not(.disabled) {
                    background-color: mat-color($accent-palette, 500) !important;
                    cursor: pointer;
                }
                
                &.disabled {
                    color: lightgrey;
                }
            }
        }
    }

    .set-width {
        width: 10rem;
    }

    @media (max-width: 480px) {
        .time-container {
            .times {
                .time {
                    padding: 0.5rem 0;
                }
            }
        }

        .set-width {
            width: 6rem;
        }
    }

}
