
  .main-container__bg-dark {
    opacity: 1;
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    transition: opacity 300ms linear;
  }

.mat-drawer-container{
    color: white;
}

.bg-container{
  background: white;
}
