
<mat-toolbar color="primary" class="fixed-header">
<mat-toolbar-row class="top-navbar">
  <app-navbar></app-navbar>
  </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container  class="container" >
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
        <a mat-list-item (click)="goToHome()" >Home</a>

        <a mat-list-item *ngIf="userService.isEmployee()" (click)="goToEmployeeAppointmentPage()">My client appointments</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
