@import "../../../variables";

.settings-container {
    padding: 1rem 1rem 5rem 1rem;

    .menu {
        border: 1px solid #ccc;
        border-radius: 3px;

        ::ng-deep .mat-list {
            padding: 0;

            .mat-list-item {
                outline: none;

                &:not(:first-child) {

                    &:not(.active) {
                        cursor: pointer;

                        :hover {
                            background-color: #f2f2f2;
                        }
                    }
                }

                &:first-child {
                    font-weight: bold;
                    background-color: #eee;
                }
            }

            .active {
                font-weight: bold;
                color: $primary-color;
                border-left: 3px solid $primary-color;
            }
        }
    }
}

.settings-container-dark {
    padding: 1rem 1rem 5rem 1rem;

    .menu {
        border: 1px solid darkgray;
        border-radius: 3px;
        
        ::ng-deep .mat-list {
            padding: 0;

            .mat-list-item {
                outline: none;

                &:not(:first-child) {

                    &:not(.active) {
                        cursor: pointer;

                        :hover {
                            background-color: #f2f2f2;
                        }
                    }
                }

                &:first-child {
                    font-weight: bold;
                    background-color: darkgray;
                    color:green;
                }
            }

            .active {
                font-weight: bold;
                color: green;
                border-left: 3px solid $primary-color;
            }
        }
    }
}
.bg-container{
    background: linear-gradient(to bottom, rgb(144, 141, 150), rgb(19, 19, 20))
  }
.bg-container-dark {

    opacity: 1;
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    transition: opacity 300ms linear;
}


