<form [formGroup]="serviceForm">
    <h4>Create a new service</h4>

    <mat-form-field class="example-full-width">
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="duration" placeholder="Duration">
            <mat-option *ngFor="let selectedDuration of possibleDurations" [value]="selectedDuration">
                {{selectedDuration}} min
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<button mat-button (click)="createService()">Create</button>
