.mat-dialog-actions{
    .mat-raised-button{
        display: block;
        max-width: 300px;
        margin: auto;
    }
}

.container-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
