@import "../../../../variables";

.account-settings-container {

    .change-password-container,
    .change-email-container {
        ::ng-deep {
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }

    .error-message {
        color: $warn-color;
    }

    .icon-button {
        top: 5px;
    }

    .submit-button-container {

        margin-top: 10px;

        button[type=submit] {
            font-weight: bold;
        }
    }
}
