//img {
//    width: 800px;
//    height: 800px;
//    object-fit: contain;
//}

.service-card {
    max-width: 800px;
    //border-style:hidden;
    padding: 0 45px 50px 45px;
}

.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-size: auto;
}

.mat-icon {
    vertical-align: middle
}
