<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let service of services" class="slide">
        <div (click)="selectService(service)">{{ service.name }}</div>
        <div>
            <img class="card-image" src="../assets/images/alex-bertha-215867-unsplash.jpg" alt="my-img">
        </div>
        <!--<div matLine fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">-->
            <mat-icon appButtonIcon>access_time</mat-icon>
            <span>{{ service.duration }} minutes</span>
        <!--</div>-->
    </div>
</ngx-slick-carousel>
