<div class="main-container__bg" >
    <!--<div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>-->

    <app-cards-ui class="cards-ui" [ngClass]="{'cards-ui-dark': darkModeActive}"
                  businessName="business place holder" buttonName1="My Appointments" buttonName2="Book Appointment"
            (button1FunctionMapping)="getAllAppointmentsForUserForBusiness(1)"
            (button2FunctionMapping)="openModalForService(1)">
    </app-cards-ui>
</div>
