<h2 class='mat-dialog-title'>Forgot Password</h2>
<div class='mat-dialog-content'>
    Are you sure you want to reset your password?<br><br>
    <form [formGroup]="passwordForgotForm">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email">
            <mat-hint>E.g.: johndoe@gmail.com</mat-hint>
            <mat-error *ngIf="passwordForgotForm.get('email').touched && passwordForgotForm.get('email').errors
                                 && passwordForgotForm.get('email').errors.email">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="passwordForgotForm.get('email').touched && passwordForgotForm.get('email').errors
                                 && passwordForgotForm.get('email').errors.required">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div class='mat-dialog-actions'>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="sendResetEmail()" [disabled]="passwordForgotForm.invalid">Reset</button>
</div>
