<div class="reminder-settings-container" fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="column" fxLayoutGap="20px">

        <div fxLayout="column" fxLayoutGap="8px">
            <h5>Reminders</h5>
            <mat-divider></mat-divider>
        </div>

        <div class="set-reminders-container" fxLayout="column" fxLayoutGap="10px">

            <div *ngIf="successMessage" class="success-message" fxLayout="row">
                <mat-hint style="color: inherit;">{{ successMessage }}</mat-hint>
            </div>

            <form (submit)="updateSettings()" autocomplete="off" fxLayout="column" fxLayoutGap="12px">

                <div fxLayout="column" fxLayoutGap="2px">
                    <mat-checkbox [(ngModel)]="emailReminder" name="emailReminder">
                        Send appointment reminders to my email
                    </mat-checkbox>
                    <mat-hint  [ngClass]="darkModeActive ? 'checkbox-hint-dark' : 'checkbox-hint'">
                        Receive reminders for upcoming appointments via email the day before an appointment.
                    </mat-hint>
                </div>
                <div class="space-between"></div>

                <div fxLayout="column" fxLayoutGap="2px">
                    <mat-checkbox color="primary" [(ngModel)]="textReminder" [checked]="textReminder" name="textReminder" fxFlex>
                        Send appointment reminders to my phone number
                    </mat-checkbox>
                    <mat-hint [ngClass]="darkModeActive ? 'checkbox-hint-dark' : 'checkbox-hint'" >
                        Receive reminders for upcoming appointments via text message the day before an appointment.
                    </mat-hint>
                </div>

                <div fxLayout="row" class="submit-button-container">
                    <button mat-raised-button color="primary" type="submit" fxFlex="10" fxFlex.lt-md>Save</button>
                </div>

            </form>

        </div>

    </div>

</div>
