@import "../../../../variables";

.reminder-settings-container {

    ::ng-deep {
        .mat-checkbox-layout {
            white-space: normal !important;
        }
    }

    .checkbox-hint {
        font-size: 0.9rem;
        margin-left: 24px;
    }

    .success-message {
        color: $success-color;
    }

    .submit-button-container {

        margin-top: 10px;

        button[type=submit] {
            font-weight: bold;
        }
    }

}
