@import "../../../../variables";

.reminder-settings-container {

    ::ng-deep {
        .mat-checkbox-layout {
            white-space: normal !important;
        }
    }

    .checkbox-hint {
        font-size: 0.9rem;
        margin-left: 24px;
    }
    .checkbox-hint-dark{
        font-size: 0.9rem;
        margin-left: 24px;
        color:darkgray;
    }
    .success-message {
        color: $success-color;
    }

    .submit-button-container {

        margin-top: 10px;

        button {
            font-weight: bold;
        }
    }
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    color: black;
}
