.body-content {
    position: relative;
    z-index: 1;
    padding: 0 0 40px;
    font-size: 14px;
    font-family: Proxima Nova, sans-serif;
    line-height: 1.4;
    color: #4D5055;
    word-wrap: break-word;
    word-break: break-word;
}

.body-content-dark {
    position: relative;
    z-index: 1;
    padding: 0 0 40px;
    font-size: 14px;
    font-family: Proxima Nova, sans-serif;
    line-height: 1.4;
    color:white;
    word-wrap: break-word;
    word-break: break-word;
}


.wrapper{
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 980px;
}

.divLast{
    top: 0px;
    margin:0px;  
    padding: 0px 2px 2px 3px;    
    border-width: 2px;
    border-bottom: 2px darkgray;
    width: 100%;
 }
.row-menu {
    padding: 28px 10px;
}

.row-adaptive{
    border-top: 1px solid #eef6fa
}

.last-col ::after {
    display: table-cell;
    float: none;
    width: auto;
}

.col1of4, .col3of4 {
    float: left;
    box-sizing: border-box;
}

.mbm, .mvm, .mam {
    margin-bottom: 20px;
}
.col1of4, .col2of8 {
    width: 25%;
    padding-top:35px;
    padding-left:100px;
}

.col3of4 {
    width: 75%
}

.logo::before {
    content:"";
}

.circle-option-icon {
    display: block;
    width: 95px;
    height: 95px;
    float: left;
    font-size: 57px;
    line-height: 2em;
    text-align: bottom;
    color: #444;
    background-color: rgb(207, 204, 204);
    border-radius: 50%/50%;
    margin: 0 27px 0 0;
}

.circle-option-icon-dark {
    display: block;
    width: 95px;
    height: 95px;
    float: left;
    font-size: 57px;
    line-height: 2em;
    text-align: bottom;
    color: #444;
    background-color: white;
    border-radius: 50%/50%;
    margin: 0 27px 0 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.mat-button{
    color:white;
    width: 200;
    margin-bottom: 20px;
  }

.light-mat{
    background-color: #673ab7;
    color:white;
}

.dark-mat{
    background-color:white;
    color:#673ab7;
}