<p>Payment processing services for Booking appointmnents on Kronologi are provided by Stripe and are subject to the 
  <a href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement</a>, 
  which includes the <a href="https://stripe.com/legal">Stripe Terms of Service</a> 
  (collectively, the “Stripe Services Agreement”). By agreeing to these terms 
  or continuing to operate as a business owner that accepts payment on Kronologi, you agree to be bound by the Stripe Services Agreement,
   as the same may be modified by Stripe from time to time. As a condition of [platform name] enabling payment processing services through Stripe, 
   you agree to provide [platform name] accurate and complete information about you and your business, and you authorize Kronologi to share it and transaction 
    information related to your use of the payment processing services provided by Stripe.</p>


  <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>