<div class="main">

	<div class="column">

		<h3>Sign Up for an Account</h3>

		<form class="user form" #userForm="ngForm" (ngSubmit)="registerUser()" autocomplete="off">

			<div class="name fields">
				<mat-form-field id="firstname" floatLabel="never">
					<input matInput #firstNameInput [(ngModel)]="user.first_name"
						type="text" name="firstname" id="firstname"
						pattern=".{2,}" placeholder="First name" required>
				</mat-form-field>

				<mat-form-field id="lastname" floatLabel="never">
					<input matInput [(ngModel)]="user.last_name"
						type="text" name="lastname" id="lastname"
						pattern=".{2,}" placeholder="Last name" required>
				</mat-form-field>
			</div>

			<mat-form-field class="field" hintLabel="E.g.: johnsmith@gmail.com" floatLabel="never">
				<input matInput [(ngModel)]="user.email"
					type="text" name="email" id="email"
					pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+[.][A-Za-z]{2,3}$" placeholder="Email" required>
				<mat-icon matSuffix>email</mat-icon>
			</mat-form-field>

			<mat-form-field class="field" hintLabel="Between 4 and 30 characters" floatLabel="never">
				<input matInput [(ngModel)]="user.username"
					type="text" name="username" id="username"
					pattern=".{4,30}" placeholder="Username" required>
				<mat-icon matSuffix>person</mat-icon>
			</mat-form-field>

			<mat-form-field class="field" floatLabel="never">
				<input matInput [(ngModel)]="user.password"
					type="password" name="password" id="password"
					pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,30}$" placeholder="Password" required>
				<mat-icon matSuffix>visibility_off</mat-icon>
				<mat-hint>
					Between 6 and 30 characters
					<br>
					Must contain at least 1 letter and 1 digit
				</mat-hint>
			</mat-form-field>

			<mat-form-field class="field" floatLabel="never">
				<input matInput [(ngModel)]="repeatPassword"
					type="password" name="repeatPassword" id="repeatPassword"
					placeholder="Re-enter password" required>
				<mat-icon matSuffix>visibility_off</mat-icon>
			</mat-form-field>

			<button mat-stroked-button color="primary" type="submit" [disabled]="userForm.form.invalid">Create Account</button>

		</form>

	</div>

</div>
