<div fxLayout="column">
    <div *ngIf="employees?.length">
        <div fxLayout="row" fxLayoutAlign="center">
            The following employees are available.
        </div>
        <mat-nav-list>
            <ng-container *ngFor="let employee of employees">
                <mat-list-item [class.chosen]="employee.id === employeeId" (click)="selectEmployee(employee)">
                    <div matLine>{{ employee.firstName + ' ' + employee.lastName }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-nav-list>
    </div>
    <div *ngIf="!employees?.length">
        <div fxLayout="row" fxLayoutAlign="center">
            There are no employees available.
        </div>
    </div>
</div>
