<mat-sidenav-container fullscreen #sidenav>
    <mat-sidenav #sidenav mode="over">
        <!--
        <button mat-button id="my-appts-button" *ngIf="authService.loggedIn()" routerLink="/my/appts">My Appointments</button>
        <button mat-button id="reserve-button" *ngIf="authService.loggedIn()" routerLink="/reserve">Make an Appointment</button>
        <button mat-button id="register-button" *ngIf="!authService.loggedIn()" routerLink="/register">Register</button>
        <button mat-button id="appointments-button" *ngIf="authService.loggedIn() && authService.isAdmin()" routerLink="/appointments">Client Appointments</button>
        <button mat-button id="add-emp-button" *ngIf="authService.loggedIn() && authService.isAdmin()" routerLink="/add/employee">Add an Employee</button>
        <button mat-button id="login-button" *ngIf="!authService.loggedIn()" routerLink="/login">Login</button>
        <button mat-button id="logout-button" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</button>
        <button mat-button>Contact</button>
        -->
        <mat-nav-list fxFlex="300px">
            <mat-list-item (click)="sidenav.close()">Profile</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
        <app-navbar [sidenav]="sidenav"></app-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
