<div class="main">

    <div class="column">

      <h3>Make a reservation</h3>
      <form class="reservation form" #userForm="ngForm" (ngSubmit)="reserve_service()" autocomplete="off">
        <mat-form-field>
          <mat-select placeholder="Select a service" [(ngModel)]="selectedOption" name="service-select">
            <ng-container *ngIf="service">
              <mat-option value="service option" *ngFor="let service of service_options">Option</mat-option>
                {{service.name}}
              </ng-container>
          </mat-select>
          <mat-hint>Here's the drop-down arrow ^</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="field" hintLabel="Enter a time" floatLabel="never">
              <input matInput placeholder="Time" type="time" id="appt" name="appt" min="9:00" max="18:00" required>
          </mat-form-field>

          <button mat-stroked-button color="primary" type="submit" [disabled]="userForm.form.invalid">Reserve</button>

        </form>

    </div>

  </div>
