<div class="add-recurring-shift-container">
    <form class="add-recurring-shift-form" fxLayout="column" fxLayoutGap="1rem">
    <label id="example-radio-group-label">Pick recurrence days</label>
        <span>
            <mat-checkbox class="date" *ngFor="let day of days" (change)="onChange(day)" >
                <div style="margin-right:1rem">

                {{day}}
                </div>
            </mat-checkbox>
        </span>
        <div class="start-time-container" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%" >
            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="20">
                <mat-label>Start Hour</mat-label>
                <input [(ngModel)]="startHour" name="startHour" type="number" min="0" max="24" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="39">
                <mat-label [ngClass]="{'text-color-dark' : darkModeActive}">Start Minute</mat-label>
                <input matInput [(ngModel)]="startMinute" name="startMinute" type="number" min="0" max="59" required>
            </mat-form-field>
        </div>
        <div class="end-time-container" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%">
            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="20">
                <mat-label [ngClass]="{'text-color-dark' : darkModeActive}">End Hour</mat-label>
                <input matInput [(ngModel)]="endHour" name="endHour" type="number" min="0" max="24" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="39">
                <mat-label [ngClass]="{'text-color-dark' : darkModeActive}">End Minute</mat-label>
                <input matInput [(ngModel)]="endMinute" name="endMinute" type="number" min="0" max="59" required>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="20">
            <mat-label [ngClass]="{'text-color-dark' : darkModeActive}">Occurences</mat-label>
            <input matInput  name="occurrences" type="number" min="1" max="52" required [(ngModel)]="occurrences">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" fxFlex="10" fxFlex.lt-md (click)="createRecurringDate()">Create Shifts</button>
    </form>
</div>
