<form autocomplete="off" (submit)="submit()">
    <div fxLayoutAlign="center">
    <div fxLayout="column" [align]="centered" fxFlex.gt-sm="800px" ngClass.gt-sm="mat-elevation-z3" class="container" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <mat-label>Business</mat-label>
            <input matInput [(ngModel)]="business" name="business" required appAutofocus>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Service</mat-label>
            <input matInput [(ngModel)]="service" name="service" required appAutofocus>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [(ngModel)]="date" name="date" required appAutofocus>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput [(ngModel)]="price" name="price" required appAutofocus>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between" class="buttons">
            <button mat-raised-button color="primary" type="submit" (click)="createPDF()">Submit Receipt</button>
        </div>
    </div>
    </div>
</form>

