div.container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

div.content {
    height: 65%;
    min-width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
