div.content {
    height: 100%;
    width: 100%;
    margin: 1em 5em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 2rem;
    left: 50%;
    background-color: white;
}
