
<div  *ngIf="!dataIsAllLoaded">
  <ngx-spinner bdColor = "rgba(109,109,109,0.7)"   size = "medium"   color = "#673ab7"
               type = "ball-scale-ripple-multiple" fullScreen = "false">
      <p style="color: #673ab7">Hold on tight,  we're trying to save your info.</p>
      <div class="div-center-button">
          <button mat-raised-button color="primary" (click)=stopRegistering()>Stop Registering my business</button>
      </div>
  </ngx-spinner>
</div>
<div  *ngIf="dataIsAllLoaded"  class="details-page__wrapper" [ngClass]="{'details-page__wrapper-dark': darkMode}">
    <div class="background-gradient__circle" [ngClass]="{'background-gradient__circle-dark': darkMode}"></div>
    <svg class="back__button" routerLink="" viewBox="4085 152 98.5 126" tabindex="0">
      <defs>
        <style>.a {
          fill: #2b244d;
        }
  
        .b {
          fill: rgba(0, 0, 0, 0);
        }
  
        .b, .c {
          stroke: #fff;
          stroke-width: 2px;
        }
  
        .c {
          fill: none;
        }
  
        .d {
          fill: #fff;
          font-size: 15px;
          font-family: SegoeUI, Segoe UI, sans-serif;
          letter-spacing: 0.4em;
        }</style>
      </defs>
      <g transform="translate(3980)">
        <circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)"></circle>
        <line class="b" transform="translate(123.5 190.5)" x1="80"></line>
        <line class="b" transform="translate(123.5 164.5)" x2="26" y1="26"></line>
        <line class="c" transform="translate(123.5 190.5)" x1="26" y1="27"></line>
        <text class="d" transform="translate(117 274)">
          <tspan x="0" y="0">BACK</tspan>
        </text>
      </g>
    </svg>
    <section class="main-weather__card">
      <section class="card-header__container-dark" [ngSwitch]="true">
        <img class="city__illustration" src="../../../assets/images/image.svg"/>
       

        <div class="header-content__wrapper">
         <div class="today-weather__container">
                <span class="temperature__text">{{ businessObj.name }}</span>
                <!-- <div class="temp-state__container">
                  <span class="weather-state__text">hello</span>
                </div> -->
          </div>
          <div class="city-name__container">
              <app-google-maps [lng]="lng" [lat]="lat"></app-google-maps>
          </div>  
          
        </div>
      </section>
      <main class="body-content__wrapper">
        <div class="column">
          <div class="img-row" *ngFor="let image of albums; let i=index">
            <img class="img-frame" [src]="image.thumb" (click)="open(i)"/>
          </div>
        </div>
      </main>
    </section>
  </div>
  