<div class="appointments-container" *ngIf="appointments?.length" [ngClass]="{'appointments-container-dark': darkModeActive}">

    <p class="appointments-msg">The system has {{ componentState.appointments?.length }} appointment(s):</p>
    <app-search-input
        [placeholderText]="'Search'"
        (changed)="onSearch($event)">
    </app-search-input>


    <table mat-table [dataSource]="componentState.appointments" class="mat-elevation-z8n appointments-container" [ngClass]="{'appointments-container-dark': darkModeActive}">

        <!-- Service Column -->
        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.service.name }} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.date }} </td>
        </ng-container>

        <!-- Starts at Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Starts at </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.startTime }} </td>
        </ng-container>

        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.service.duration }} min. </td>
        </ng-container>

        <!-- Client Column -->
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.client.firstName + ' ' + appointment.client.lastName}} </td>
        </ng-container>

        <!-- Employee Column -->
        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef> Employee </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.employee.firstName + ' ' + appointment.employee.lastName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>

<div *ngIf="!appointments?.length">
    <p>There are currently no appointments in the system.</p>
</div>
