.service-card {
    max-width: 250px;
    min-width: 250px;
    padding: 0 45px 50px 45px;
}

.mat-icon {
    vertical-align: middle
}

.mat-grid-list{
    position:initial;
    display:block;
}

//.mat-card-image {
//    width:350px
//}

.mat-card-header {
    ::ng-deep {
        img{
            width: 100px;
            height: 50px;
        }
    }
}
