<div fxLayout="row" fxLayoutAlign="center" fxFlex="noshrink">
    <div fxLayout="column" fxFlex.gt-sm="1000px" ngClass.gt-sm="mat-elevation-z3" class="container" fxLayoutGap="20px">
        <img src="assets/images/asapp_logo.png" width="128"/>

        <span class="title">Register a business account</span>
        <div class="board-inner" id="status-buttons">
            <ul class="nav nav-tabs" id="myTab">
                <div class="liner"></div>
                <li>
                    <a routerLink="/registration_business/personal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                        <span class="round-tabs one">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                    </a>
                </li>


                 <li>
                    <a routerLink="/registration_business/business" routerLinkActive="active" data-toggle="tab" title="business">
                        <span class="round-tabs two">
                            <i class="glyphicon glyphicon-briefcase"></i>
                        </span>
                    </a>
                </li>


                <li>
                    <a routerLink="/registration_business/service" routerLinkActive="active" data-toggle="tab" title="service">
                        <span class="round-tabs three">
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                    </a>
                </li>


                <li>
                    <a routerLink="/registration_business/result" routerLinkActive="active" data-toggle="tab" title="completed">
                        <span class="round-tabs four">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


