<mat-toolbar color="primary" id="navbar">
	<mat-toolbar-row class="container">
		<button mat-button class="title" routerLink="/">Appointment Scheduler</button>

		<span class="space"></span>

		<mat-icon class="nav-icon">calendar_today</mat-icon>
		<button mat-button id="register-button" *ngIf="!authService.loggedIn()" routerLink="/register">Register</button>
		<button mat-button id="appointments-button" *ngIf="authService.loggedIn()" routerLink="/appointments">Appointments</button>
		<button mat-button id="login-button" *ngIf="!authService.loggedIn()" routerLink="/login">Login</button>
		<button mat-button id="logout-button" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Sign Out</button>
		<button mat-button routerLink="/contact">Contact</button>
	</mat-toolbar-row>
</mat-toolbar>
