<mat-toolbar color="primary">
  <!--<mat-toolbar-row fxLayout="column">-->
    <div fxLayout="row" fxLayoutGap="30px" fxFlexFill>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Appointment Scheduler</div>
    </div>

    <!--<button mat-button id="my-appts-button" *ngIf="authService.loggedIn()" routerLink="/my/appts">My Appointments</button>
    <button mat-button id="reserve-button" *ngIf="authService.loggedIn()" routerLink="/reserve">Make an Appointment</button>
    <button mat-button id="register-button" *ngIf="!authService.loggedIn()" routerLink="/register">Register</button>
    <button mat-button id="appointments-button" *ngIf="authService.loggedIn()" routerLink="/appointments">Client Appointments</button>
    <button mat-button id="login-button" *ngIf="!authService.loggedIn()" routerLink="/login">Login</button>
    <button mat-button id="logout-button" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</button>
    <button mat-button>Contact</button>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>
