<div *ngIf="appointments?.length">

    <p>You have {{ appointments?.length }} upcoming appointment(s):</p>

    <table style="width: 100%" mat-table [dataSource]="appointments" class="mat-elevation-z8">

        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.service.name }} </td>
        </ng-container>

        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef> Employee </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.employee.firstName + ' ' + appointment.employee.lastName }} </td>
        </ng-container>
    
        <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.startTime | date: 'mediumDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Starts at </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.startTime | date: 'h:mm a' }} </td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> Ends at </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.endTime | date: 'h:mm a' }} </td>
        </ng-container>
    
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.service.duration }} min. </td>
        </ng-container>
    
        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> Notes </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.notes }} </td>
        </ng-container>

        <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef> Cancel </th>
            <td mat-cell *matCellDef="let appointment">
                <mat-icon class="cancel" color="warn" (click)="cancelAppointment(appointment.id)">cancel</mat-icon>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>

</div>

<div *ngIf="!appointments?.length">
    <p>You currently do not have any appointments.</p>
</div>
