<div *ngIf="users?.length">

    <p>The system has {{ users?.length }} user(s):</p>

    <table mat-table [dataSource]="users" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let user"> {{ user.firstName + " "+ user.lastName }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
        </ng-container>

        <!-- Services Column -->
        <ng-container matColumnDef="services">
            <th mat-header-cell *matHeaderCellDef> Services </th>
            <td mat-cell *matCellDef="let user"> {{ generateServicesDisplayString(user.services) }} </td>
        </ng-container>

        <!-- Roles Column -->
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let user"> {{ generateRolesDisplayString(user.userRoles) }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>

<div *ngIf="!users?.length">
    <p>There are currently no users in the system.</p>
</div>

