
<h2 class='mat-dialog-title'>Cancel appointment {{serviceName}} </h2>

<div class='mat-dialog-content' *ngIf="!isEmployee">
    Are you sure you want to cancel {{serviceName}}
    <br>
    scheduled with {{employeeName}} on {{appointmentToCancel.date}}
</div>

<div class='mat-dialog-content' *ngIf="isEmployee || isAdmin">
        Are you sure you want to cancel {{serviceName}}
        <br>
        with your client {{customerName}} on {{appointmentToCancel.date}}
</div>

<div class='mat-dialog-actions'>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="cancel()">Confirm</button>
</div>