<div>

    <form (submit)="setShift()" fxLayout="column" fxLayoutGap="1rem">

        <div fxLayout="row">
            <mat-form-field appearance="outline" fxFlex="60" fxFlex.lt-md>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="date" name="date" placeholder="Pick a Date" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%">
            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="20">
                <mat-label>Start Hour</mat-label>
                <input matInput [(ngModel)]="startHour" name="startHour" type="number" min="8" max="22" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="39">
                <mat-label>Start Minute</mat-label>
                <input matInput [(ngModel)]="startMinute" name="startMinute" type="number" min="0" max="59" required>
            </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="1%">
            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="20">
                <mat-label>End Hour</mat-label>
                <input matInput [(ngModel)]="endHour" name="endHour" type="number" min="8" max="22" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="no-mat-padding" fxFlex="39">
                <mat-label>End Minute</mat-label>
                <input matInput [(ngModel)]="endMinute" name="endMinute" type="number" min="0" max="59" required>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit" fxFlex="10" fxFlex.lt-md>Save</button>

    </form>

</div>
