/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

body {
    background-image: url('./assets/images/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
  max-width: 1127px;
  height: 80%;
  display: flex;
  margin-left: auto!important;
  margin-right: auto!important;
}

div.main {
    display: flex;
    justify-content: center;
}

div.main > div.column {
    width: 50%;
}
