<div fxLayout="row" fxLayoutAlign="center" fxFlex="noshrink" [ngClass]="{'bg-container-dark': darkModeActive}" class="bg-container">
    <div fxLayout="column" fxFlex.gt-sm="1000px" ngClass.gt-sm="mat-elevation-z3" class="container" fxLayoutGap="20px">
        <img src="assets/images/asapp_logo.png" width="128"/>
        <span class="title">Leave a comment for our service</span>

        <form (submit)="saveReview()" autocomplete="off" fxLayout="column">
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Review</mat-label>
                    <textarea matInput [(ngModel)]="content" name="content" maxlength="200" placeholder="Max 200 characters" required></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between" class="buttons">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
        </form>
    </div>
</div>
